@import "vars";
@import "_mixins/mixins";
@import "extensions";
//@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin

//Сбросы


@import 'node_modules/normalize.css/normalize';

//@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection

//Гриды

@import "layouts";

@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites
//Foundation

//База

:focus {
  box-shadow: 0 0 0 2px rgba(255, 123, 0, 0.5);
  outline: none;
}

:active{
  -webkit-tap-highlight-color: transparent;
}

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: $textcolor;
}

html {
  font-size: 10px;
  background-color: $bodybackground;
}

body {
  @include ff(Regular);
  font-size: $fontsize;
  font-weight: normal;
  min-width: 320px;
  position: relative;
  line-height: 1.2;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: $bodybackground;
  color: $textcolor;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: $accent;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    text-decoration: none;
    color: $accent;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  @include fz(22, em);
  @include ff(Regular);
  color: $textcolor;
}

h2 {
  @include fz(18, em);
  @include ff(Bold);
  color: $textcolor;
}

h3 {
  @include fz(16, em);
  @include ff(Bold);
  color: $textcolor;
}

p {
  margin: 0;
  padding: 0;
}

b, strong {
  @include ff(Bold);
  font-weight: normal;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 3rem 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

img{
  max-width: 100%;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.visuallHidden {
  border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

*, *::before, *::after{
  box-sizing: border-box;
}