@import "vars";
//Кастомные гриды

//Глобальные лейауты

.header {
  // Глобальные стили для хедера
  flex: 0 1 auto;
}

.primaryNav {
  display: block;
  // Глобальные стили для основной навигации
}

.mainContent {
  // Глобальные стили для основного контента
  padding: $gutter 0;
  flex: 1 1 auto;
}

.sideBar {
  display: block;
  // Глобальные стили для сайдбара
}

.footer {
  // Глобальные стили для футера
  flex: 0 1 auto;
}
