//Colors
$primaryColor: #333;
$secondaryColor: #000;
//$tertiaryColor: ;
//$quaternaryColor: ;
//$quinaryColor: ;
//$senaryColor: ;
//$septenaryColor: ;
//$octonaryColor: ;

$mainFont: 'Roboto';

$fontsize: 16px; // Body Font Size
$bodybackground: #eee;
$textcolor: #333; // Text Color
$accent: #008AFF; // Accent Color

$bradius: 0;

$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;
